# Environment variables
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Project specific
photos/
dist/
media/
scripts/
courses_csv/
courses/ 
courses.zip