body {
    font-family: Arial, sans-serif;
    padding: 0px 40px;
    background-color: #01121c;
    margin: 0;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;

}
.schedule {
    margin-bottom: 40px;
    padding: 20px;
    background-image: linear-gradient(to right, #31146b, #4d0f8e);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    
}
.schedule h2 {
    margin-top: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #000000;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
tr:nth-child(even) {
    background-color: #085936 !important;
}
tr:nth-child(odd) {
    background-color: #4caf50 !important;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    color: #555;
}
.general-info {
border-radius: 25px;
padding: 20px;
background-image: linear-gradient(to right, #009aca, #19d2fd);
margin-bottom: 30px;
}

.general-info p {
white-space: normal; /* Allow text to wrap to the next line */
overflow: visible; /* Ensure overflow text is visible */
}
#selected-lessons{
    display: flex !important;
    align-items: center;            
}
#selected-lessons h3{
    margin-right: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
}
.selected-lessons-alt {
    margin: 0 10px 0 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 19px;
}
.selected-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

#credit-lesson{
    color: #fff;
    display: flex;
    align-items: center;
    overflow: auto;

}
#credit-lesson p{
    margin: 8px 10px 0px 0;
    margin-right: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 19px;      
    color: #000;
    
}    
.download{
padding: 10px 15px;
background-color: #f2f2f2;
border-radius: 5px;
font-size: 16px;
color: #000;
cursor: pointer;
border: none;
margin-bottom: 10px;
margin-top: 10px;
}
.footer {
display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient(to right, #01121f, #04262e);
color: #ffffff;
padding: 20px;
border-radius: 30px;
font-size: 18px;
margin-bottom: 15px;
}   

#schedules-container {
margin: 0;
margin-bottom: 30px;
}
.error{
border-radius: 25px;
font-size: 18px;
margin: 0;
padding: 25px 20px;
background-image: linear-gradient(to right, #ff0000, #ff4d4d);
}


@media screen and (max-width: 768px) {
.schedule {
    padding: 10px;
}
table {
    font-size: 14px;
}
th, td {
    padding: 5px;
}
.selected-lessons-alt {
    font-size: 16px;
}
#credit-lesson p {
    font-size: 16px;
}
.footer {
    font-size: 16px;
    flex-direction: column;
    
}
.footer p {
    margin: 7px 0;
}
.general-info{
    width: max-content;

}
}
@media screen and (max-width: 600px){
body {
    padding: 0;
}
table, tr, td,th{
    border: 0.5px  solid #fff;
}
th, td {
    padding: 3px;
}
.schedule{
    width: max-content;
    padding: 10px 15px;
}
.schedule h2 {
    font-size: 18px;
    padding: 8px;
}
}